__pycache__
.ipynb_checkpoints

# Ignore recordings as they are annoyingly large for git repo
recordings

output

# As much as I'd love to include video documentation it's far too large for uploading
# to a repo
*.mkv